form {
    border: 2px solid black;
    width: 252px;
    height: auto;
    padding: 5px;
    margin-left: 10%;
    background: white; 
    background: -webkit-linear-gradient(bottom, #c0c0d8 , #8181b1); 
    background: -o-linear-gradient(bottom, #c0c0d8, #8181b1); 
    background: -moz-linear-gradient(bottom, #c0c0d8, #8181b1);
    background: linear-gradient(to bottom, #c0c0d8 , #8181b1);
    border-radius: 10px;
}

.single {
    width: 40px;
    height:40px;
    margin: 4px 2px;
    padding: 0px 0px;
}

.double {
    width: 88px;
    height:40px;
    margin: 4px 2px;
}

.double-plus {
    width: 112px;
    height:40px;
    margin: 4px 2px;
}

.output {
    width: auto;
    height:50px;
    margin: 4px 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    background-color: #d0d0e2;
    font-size: 1.5em;
}
